@import "./variables";

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;


  font-size: 18px;
  font-family: "Fira Code", monospace;
  color: $font-color-primary;

  background: rgba(0, 0, 0, 0.0);
}

html {
  background: $bg-color;
}

body {
  position: fixed;
  overflow-y: hidden;

  width: 100vw;
  height: 100vh;
  height: 100dvh;

}

.content-wrapper {
  width: 100vw;
  height: 100dvh;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: contain;

}

.content-wrapper::-webkit-scrollbar {
  display:none;
}
