$bg-color: rgb(22, 20, 24);
$font-color-highlighted: rgb(38, 109, 211);
$font-color-primary: rgb(219, 220, 220);
$font-color-fading: rgb(105, 107, 109);

//Break points
$breakpoint-small: 480px;    // Small devices (mobile)
$breakpoint-medium: 768px;   // Medium devices (tablets)
$breakpoint-large: 1024px;   // Large devices (small laptops)
$breakpoint-xlarge: 1200px;  // Extra large devices (desktops)
$breakpoint-xxlarge: 1440px; // Ultra-wide screens (large desktops)
